<html>
  <head>
    <meta charset="utf-8" />
    <title><%= siteTitle %></title>
    <meta property="og:image" content="<%= imageUrl %>" />
    <meta name="description" property="og:description" content="<%= description %>" />
    <link rel="canonical" href="<%= canonical %>" />
    <meta name="google-site-verification" content="<%= verificationCode %>"/>
  </head>
  <body>
    <div id="root" data-siteId="<%= siteId %>"></div>
  </body>
</html>
